body{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blueviolet;
}
.list{
    position: sticky;
    top: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: white;
    font-weight: 600;
}
.link{
    position: relative;
    padding-bottom: 8px;
    cursor: pointer;
}
.link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width:0%;
    height: 3px;
    background-color: blueviolet;
    transition: width 0.4s ease-out;
}
.link:hover.link::after{
    width: 100%;
}